{% extends 'lms/base.html' %}

{% block content %}
  <div class="container">
    <h1>Add New Pathway</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Pathway</button>
      <a href="{% url 'lms:superuser_dashboard' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
